.main_courses_teacher {
    padding: 20px;
    min-height: 100vh;
    font-family: "Comforta";
  }
  
  .welcome-text {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .central_courses_teacher {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
  }
  

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .modal-content h2 {
    font-family: "Comforta";
    color: #000000;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .modal-input {
    font-family: "Comforta";
    background: #ece0ff;
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .cancel-button {
    font-family: "Comforta";
    background-color: #d3d3d3;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button {
    font-family: "Comforta";
    background: #6b4e9a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover,
  .cancel-button:hover {
    opacity: 0.8;
  }
  