.body{
  color: white;
}
.course-page {
    font-family: "Comforta";
    color: #333;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    background-color: #e6e6fa;
    padding: 10px 20px;
  }
  
  .header-button {
    background-color: #8a2be2;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .header-button.logout {
    background-color: #d35400;
  }
  
  .course-content {
    width: 95%;
    margin: 40px auto;
    padding-bottom: 20px;
    background-color: #ece0ff;
    border-radius: 5px;
  }
  
  .course-title-one{
    text-align: center;
    color: white;
    background-color: #6b4e9a;
    border-radius: 10px 10px 0 0;
    font-size: 35px;
    padding-top: 70px;
    padding-bottom: 20px;
}
  
  .course-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    margin-left: 20px;
    margin-right: 20px;
    
  }
  
  .action-button {
    background-color: #ffffff;
    color: #6b4e9a;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-family: "Comforta";
    
  }
  
  .course-code {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #ffffff;
    color: #6b4e9a;
  }
  
  .tasks-list {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-direction: column;
    gap:30px;
    margin-left: 20px;
    margin-right: 20px;
    
  }
  
  
  .task-item {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    
  }

  .published-info {
    font-size: 12px;
    margin-top: 5px;
    text-align: right;
}
  
  .details-button {
    background-color: #6b4e9a;
    color: white;
    border: none;
    padding: 10px 10px;
    font-family: "Comforta";
    border-radius: 5px;
  }
  
  .student-list {
    margin-top: 30px;
  }
  
  .student-name {
    margin: 5px 0;
  }
  
  .scroll-button {
    background-color: #8a2be2;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .modal_delete {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content_delete {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .modal-actions_delete {
    display: flex;
    justify-content: space-between;
  }
  
  .modal-actions_delete button {
    padding: 10px 20px;
    background-color: #6b4e9a;
    color: white;
    border: none;
    cursor: pointer;
    font-family: "Comforta";
    margin: 20px;
    border-radius: 10px;
  }
  
  .modal-actions_delete button:hover {
    background-color: #3b2c53;
  }
  
  .modal-actions_delete button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }
  